.route{
    padding: 30px 100px 100px 100px ;
    display: flex;
    gap: 25px;
    justify-content: center;
}
.routeLink{
    color: #d49415;
    text-decoration: none;
    transition: color 0.3s;
} 
.routeLink:hover{
    color: #595555;
}
.heading{
    display: flex;
    justify-content: center;
}
.btnAuto{
    width: 100px;
    height: 28px;
    background-color: black;
    color: aliceblue;
    border-radius: 25px;
    cursor: pointer;
} 
.blockStyle{
    display: flex;
    gap: 40px;
}